<div *ngIf="!offersLoaded">
    <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
</div>


<md-card class="example-card" *ngIf="offersLoaded">
    <md-card-header>
        <md-card-title>Offers {{type}}</md-card-title>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item *ngFor="let offer of offers">
                <button md-button [routerLink]="'/'+offer.type+'/'+offer.titleShort">{{offer.title}}</button>
            </md-list-item>
        </md-list>

        <div *ngIf="offers.length == 0">
            No offers to show
        </div>
    </md-card-content>
</md-card>